.jumbotron {
    background-color: #f88706;
    text-align: center;
}

.btn {
    background-color: #571c1c;
    color: white;
    
}

.card-header {
    background-color: #8a6022;
    color: white;
}